<section id="benefits" class="wrap">
  <!-- Загальний контейнер для організації вмісту розділу -->
  <div class="container benefits_container">
    <!-- Заголовок розділу з виділеним словом "Benefits" -->
    <h2 class="title title_desktop">
      <span class="highlight">Benefits</span> of working with me
    </h2>
    <!-- Фоновий малюнок секції (тільки для desktop) -->
    <div class="benefits-image"></div>
    <!-- Список переваг -->
    <ul class="benefits__list">
      <!-- Перша перевага -->
      <li class="benefits__item">
        <!-- Контейнер для svg-іконки -->
        <div class="benefits__icon">
          <svg class="icon" width="24" height="24">
            <use href="/public/icon.svg#icon-user-01"></use>
          </svg>
        </div>
        <!-- Заголовок для переваги -->
        <h3 class="benefits__subtitle">Expertise</h3>
        <!-- Опис переваги -->
        <p class="benefits__description">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <!-- Структура li повторюється далі для інших пунктів... -->
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg class="icon" width="24" height="24">
            <use href="/public/icon.svg#icon-message-chat-circle"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle">Communication</h3>
        <p class="benefits__description">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg class="icon" width="24" height="24">
            <use href="/public/icon.svg#icon-brush-01"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle">Art</h3>
        <p class="benefits__description">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg class="icon" width="24" height="24">
            <use href="/public/icon.svg#icon-hourglass-02"></use>
          </svg>
        </div>
        <h3 class="benefits__subtitle">Urgent Execution</h3>
        <p class="benefits__description">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
