<section id="faq">
  <div class="container">
    <div class="faq-image"></div>
    <h2 class="title question">frequently asked <span> question</span></h2>

    <ul id="ac-list">
      <li class="accordion-item ac">
        <h3 class="accordion-title ac-header">
          <button type="button" class="ac-trigger">
            <span>
              What programming languages are most often used in your
              project?</span
            >

            <svg class="icon-drop-down" width="24" height="24">
              <use href="./img/icon.svg#icon-dropdown-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="accordion-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="accordion-item ac">
        <h3 class="accordion-title ac-header">
          <button type="button" class="ac-trigger">
            <span> What are the deadlines for the project?</span>
            <svg class="icon-drop-down" width="24" height="24">
              <use href="./img/icon.svg#icon-dropdown-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="accordion-answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="accordion-item ac">
        <h3 class="accordion-title ac-header">
          <button type="button" class="ac-trigger">
            <span> What payment methods do you accept?</span>
            <svg class="icon-drop-down" width="24" height="24">
              <use href="./img/icon.svg#icon-dropdown-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="accordion-answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="accordion-item ac">
        <h3 class="accordion-title ac-header">
          <button type="button" class="ac-trigger">
            <span> How can I contact you?</span>
            <svg class="icon-drop-down" width="24" height="24">
              <use href="./img/icon.svg#icon-dropdown-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="accordion-answer">
            You can contact us via email, our contact form on the website, or
            through social media platforms. We're always happy to assist you
            with any questions or inquiries you may have.
          </p>
        </div>
      </li>

      <li class="accordion-item ac">
        <h3 class="accordion-title ac-header">
          <button type="button" class="ac-trigger">
            <span> Do you provide advice or support?</span>
            <svg class="icon-drop-down" width="24" height="24">
              <use href="./img/icon.svg#icon-dropdown-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="accordion-answer">
            Yes, we offer advice and support throughout the project. Whether you
            need guidance on the technical aspects, help with decision-making,
            or post-project assistance, we’re here to help ensure the success of
            your project.
          </p>
        </div>
      </li>

      <li class="accordion-item ac">
        <h3 class="accordion-title ac-header">
          <button type="button" class="ac-trigger">
            <span>
              What does the process of developing a software product look like
              from idea to implementation?</span
            >

            <svg class="icon-drop-down" width="24" height="24">
              <use href="./img/icon.svg#icon-dropdown-up"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="accordion-answer">
            The process of developing a software product involves ideation,
            planning, design, development, testing, deployment, and ongoing
            maintenance.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
