<footer id="footer">
  <div class="container">

    <a href="./index.html" class="title" target="_blank" rel="noopener noreferrer">Lloyd<span>Jefferson.</span></a>

    <div class="footer-right-container">
      <ul class="footer-list">
        <li>
          <a class="footer-link-soc" href="https://www.instagram.com/goitclub/" target="_blank"
            rel="noopener noreferrer">Instagram</a>
        </li>
        <li>
          <a class="footer-link-soc" href="https://www.facebook.com/goITclub/" target="_blank"
            rel="noopener noreferrer">Facebook</a>
        </li>
        <li>
          <a class="footer-link-soc" href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
            rel="noopener noreferrer">Linkedin</a>
        </li>
        <li>
          <a class="footer-link-soc" href="https://github.com/oykss/team-landing-portfolio" target="_blank"
            rel="noopener noreferrer">GitHub</a>
        </li>
      </ul>

      <p class="footer-made-by">© Copyright 2024. Made by LloydJefferson</p>

    </div>
  </div>

</footer>