<header class="header">
  <div class="container">
    <a href="./index.html" class="title">Lloyd<span>Jefferson.</span></a>
    <button class="burger js-open-menu" type="button">
      <span class="burger-line"></span>
    </button>
    <div class="bar">
      <div class="button-3 button-changes-mod r">
        <input class="checkbox units" name="checkbox-mod" type="checkbox" />
        <div class="knobs-changes-mod">
          <svg class="icon-moon" width="24" height="24">
            <use href="/public/icon.svg#icon-moon"></use>
          </svg>
        </div>
        <div class="layer-changes-mod"></div>
      </div>
      <nav>
        <a href="#about-me" class="link">About me</a>
        <a href="#projects" class="link">Projects</a>
        <a href="#work-together" class="link">Contacts</a>
      </nav>
    </div>
  </div>
</header>
