<header id="header">
  <div class="container">
    <a href="./index.html" class="title">Lloyd<span>Jefferson.</span></a>
    <button type="button">
      <svg class="icon" width="32" height="32">
        <use href="/img/icon.svg#icon-menu"></use>
      </svg>
    </button>
    <nav>
      <div id="button-3" class="button r">
        <input class="checkbox units" name="checkbox-mod" type="checkbox" />
        <div class="knobs">
          <svg class="icon" width="24" height="24">
            <use href="/img/icon.svg#icon-moon"></use>
          </svg>
        </div>
        <div class="layer"></div>
      </div>
      <a href="#about-me" class="link">About me</a>
      <a href="#projects" class="link">Projects</a>
      <a href="#work-together" class="link">Contacts</a>
    </nav>
  </div>
</header>
