<section id="hero" class="hero-section">
  <div class="hero-top">
    <h1 class="hero-title">
      Hello, I am
      <img srcset="../img/hero/hero-image.jpg 1x, ../img/hero/hero-image@2x.jpg 2x" src="../img/hero/hero-image.jpg"
        alt="My photo" class="hero-title-img" width="108" height="108">
      <span class="hero-span">Fullstack
        developer</span>
    </h1>
    <div class="hero-info-container">
      <div class="hero-btn-container">
        <div class="hero-btn">
          <a href="#work-together" class="hero-btn-text">
            <svg class="hero-btn-icon" width="28" height="32">
              <use href="../img/icon.svg#icon-hero-arrow"></use>
            </svg>
            Order the project
          </a>
        </div>
      </div>
      <p class="hero-info">
        I work with people all over the world to create <span class="hero-span">impressive</span> and <span
          class="hero-span">functional websites</span> that
        reflect each client&apos;s
        unique personality.
      </p>
    </div>
  </div>

  <div class="hero-bottom">
    <ul class="hero-social-list">
      <li><a href="https://www.instagram.com/goitclub/" target="_blank" class="hero-social-link">Instagram</a></li>
      <li><a href="https://www.facebook.com/goITclub/" target="_blank" class="hero-social-link">Facebook</a></li>
      <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
          class="hero-social-link">Linkedin</a>
      </li>
      <li><a href="https://github.com/oykss/team-landing-portfolio" target="_blank" class="hero-social-link">GitHub</a>
      </li>
    </ul>
  </div>
</section>