<div class="mob-menu">
  <div class="mob-header">
    <a href="./index.html" class="mob-logo">Lloyd<span class="mob-logo-span">Jefferson.</span></a>
  </div>
  <div class="mob-menu-container">
    <ul class="mob-nav-list">
      <li class="mob-nav-link">
        <a href="#about-me" class="link" data-close="true">About me</a>
      </li>
      <li class="mob-nav-link">
        <a href="#projects" class="link" data-close="true">Projects</a>
      </li>
      <li class="mob-nav-link">
        <a href="#work-together" class="link" data-close="true">Contacts</a>
      </li>
    </ul>
    <div class="button-3 button-changes-mod r changes-menu">
      <input class="checkbox units" name="checkbox-mod" type="checkbox" />
      <div class="knobs-changes-mod">
        <svg class="icon-moon" width="24" height="24">
          <use href="/public/icon.svg#icon-moon"></use>
        </svg>
      </div>
      <div class="layer-changes-mod"></div>
    </div>
  </div>
</div>