<div class="mob-menu is-open">
    <div class="mob-header">
        <a href="./index.html" class="mob-logo">Lloyd<span>Jefferson.</span></a>
        <button type="mob-close-button" aria-label="button close">
            <svg class="close-icon" width="32" height="32">
                <use href="/img/icon.svg#icon-arrow-narrow-left"></use>
            </svg>
        </button>
    </div>
    <div class="mob-menu-container">
        <ul class="mob-nav-list">
            <li class="mob-nav-link">
                <a href="#about-me" class="link">About me</a>
            </li>
            <li class="mob-nav-link">
                <a href="#projects" class="link">Projects</a>
                <a href="#work-together" class="link">Contacts</a>
            </li>
            <li class="mob-nav-link">
                <a href="#work-together" class="link">Contacts</a>
            </li>
            <li class="mob-nav-link">
                <div id="button-3" class="button-changes-mod r">
                    <input class="checkbox units" name="checkbox-mod" type="checkbox" />
                    <div class="knobs-changes-mod">
                        <svg class="icon-moon" width="24" height="24">
                            <use href="/img/icon.svg#icon-moon"></use>
                        </svg>
                    </div>
                    <div class="layer-changes-mod"></div>
                </div>
            </li>
        </ul>
    </div>
</div>