<!-- Загальний контейнер (оверлей) для модального вікна -->
<div class="overlay-form" id="modal">
  <!-- Контейнер самого модального вікна -->
  <div class="modal-form">
    <!-- Заголовок модального вікна -->
    <p class="title-modal"></p>
    <!-- Опис модального вікна -->
    <p class="desc"></p>
    <!-- Кнопка закриття модального вікна -->
    <button
      type="button"
      class="btn-close"
      aria-label="btn-close"
      data-close-modal
    >
      <svg class="icon" height="24" width="24">
        <use href="/public/icon.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
