<section id="projects">
  <!-- Projects section -->
  <h2 class="title centered">MY<span class="green">PROJECTS</span></h2>
  <div class="container">
    <ul class="project-list">
      <li class="item">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/1_wallet-webservice-@1x.jpg 1x,
                ./img/projects/1_wallet-webservice-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/1_wallet-webservice-@1x.jpg"
              width="320"
              alt="wallet webservice "
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Wallet webservice</p>
          <a class="item-btn-grey" href="">
            VISIT
            <svg class="btn-grey-icon" width="24" height="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/2_green-harvest-online-store-@1x.jpg 1x,
                ./img/projects/2_green-harvest-online-store-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/2_green-harvest-online-store-@1x.jpg"
              width="320"
              alt="green harvest online store"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Green harvest webservice</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/3_english-excellence-webservice-@1x.jpg 1x,
                ./img/projects/3_english-excellence-webservice-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/3_english-excellence-webservice-@1x.jpg"
              width="320"
              alt="English excellence webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">English Exellence website</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/4_vyshyvanka-vibes-landing-page-@1x.jpg 1x,
                ./img/projects/4_vyshyvanka-vibes-landing-page-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/4_vyshyvanka-vibes-landing-page-@1x.jpg"
              width="320"
              alt="vyshyvanka vibes Landing Page"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">vyshyvanka Landing Page</p>
          <a class="item-btn-grey" href="">
            VISIT<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/5_chego-jewelry-website-@1x.jpg 1x,
                ./img/projects/5_chego-jewelry-website-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/5_chego-jewelry-website-@1x.jpg"
              width="320"
              alt="chego jewelry website"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">chego jewelry website</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/6_energy-flow-webservice-@1x.jpg 1x,
                ./img/projects/6_energy-flow-webservice-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/6_energy-flow-webservice-@1x.jpg"
              width="320"
              alt="energy flow webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">energy flow webservice</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/7_fruitbox-online-store-@1x.jpg 1x,
                ./img/projects/7_fruitbox-online-store-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/7_fruitbox-online-store-@1x.jpg"
              width="320"
              alt="fruitbox online store"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">fruitbox online store</p>
          <a class="item-btn-grey" href="">
            VISIT<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/8_mimino-website-@1x.jpg 1x,
                ./img/projects/8_mimino-website-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/8_mimino-website-@1x.jpg"
              width="320"
              alt="mimino website"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">mimino website</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/9_power-pulse-webservice-@1x.jpg 1x,
                ./img/projects/9_power-pulse-webservice-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/9_power-pulse-webservice-@1x.jpg"
              width="320"
              alt="power pulse webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">power pulse webservice</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/10_starlight-studio-landing-page-@1x.jpg 1x,
                ./img/projects/10_starlight-studio-landing-page-@2x.jpg 2x
              "
            />
            <img
              src="./img/projects/10_starlight-studio-landing-page-@1x.jpg"
              width="320"
              alt="starlight studio landing page"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">starlight studio landing</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button class="load-more" type="button"><a>Load more</a></button>
  </div>
</section>
