<section id="projects">
  <!-- Projects section -->
  <h2 class="title centered">MY<span class="green">PROJECTS</span></h2>
  <div class="container">
    <ul class="project-list">
      <li class="item">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj1_web_1x.jpg 1x,
                ./img/projects/proj1_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj1_tabet_1x.jpg  1x,
                ./img/projects/proj1_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj1_mob_1x.jpg 1x,
                ./img/projects/proj1_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj1_web_1x.jpg"
              width="308"
              alt="Wallet webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Wallet webservice</p>
          <a class="item-btn-grey" href="">
            VISIT
            <svg class="btn-grey-icon" width="24" height="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj2_web_1x.jpg 1x,
                ./img/projects/proj2_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj2_tabet_1x.jpg  1x,
                ./img/projects/proj2_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj2_mob_1x.jpg 1x,
                ./img/projects/proj2_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj2_web_1x.jpg"
              width="308"
              alt="Green harvest webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Green harvest webservice</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj3_web_1x.jpg 1x,
                ./img/projects/proj3_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj3_tabet_1x.jpg  1x,
                ./img/projects/proj3_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj3_mob_1x.jpg 1x,
                ./img/projects/proj3_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj3_web_1x.jpg"
              width="308"
              alt="English Exellence website"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">English Exellence website</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj1_web_1x.jpg 1x,
                ./img/projects/proj1_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj1_tabet_1x.jpg  1x,
                ./img/projects/proj1_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj1_mob_1x.jpg 1x,
                ./img/projects/proj1_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj1_web_1x.jpg"
              width="308"
              alt="Wallet webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Wallet webservice</p>
          <a class="item-btn-grey" href="">
            VISIT<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj2_web_1x.jpg 1x,
                ./img/projects/proj2_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj2_tabet_1x.jpg  1x,
                ./img/projects/proj2_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj2_mob_1x.jpg 1x,
                ./img/projects/proj2_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj2_web_1x.jpg"
              width="308"
              alt="Green harvest webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Green harvest webservice</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj3_web_1x.jpg 1x,
                ./img/projects/proj3_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj3_tabet_1x.jpg  1x,
                ./img/projects/proj3_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj3_mob_1x.jpg 1x,
                ./img/projects/proj3_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj3_web_1x.jpg"
              width="308"
              alt="English Exellence website"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">English Exellence website</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj1_web_1x.jpg 1x,
                ./img/projects/proj1_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj1_tabet_1x.jpg  1x,
                ./img/projects/proj1_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj1_mob_1x.jpg 1x,
                ./img/projects/proj1_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj1_web_1x.jpg"
              width="308"
              alt="Wallet webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Wallet webservice</p>
          <a class="item-btn-grey" href="">
            VISIT<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj2_web_1x.jpg 1x,
                ./img/projects/proj2_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj2_tabet_1x.jpg  1x,
                ./img/projects/proj2_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj2_mob_1x.jpg 1x,
                ./img/projects/proj2_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj2_web_1x.jpg"
              width="308"
              alt="Green harvest webservice"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">Green harvest webservice</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="item visually-hidden">
        <div class="item-img">
          <picture>
            <source
              srcset="
                ./img/projects/proj3_web_1x.jpg 1x,
                ./img/projects/proj3_web_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/projects/proj3_tabet_1x.jpg  1x,
                ./img/projects/proj3_tablet_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/projects/proj3_mob_1x.jpg 1x,
                ./img/projects/proj3_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/projects/proj3_web_1x.jpg"
              width="308"
              alt="English Exellence website"
            />
          </picture>
        </div>
        <p class="item-subtext">React, JavaScript, Node JS, Git</p>
        <div class="container-txt-btn">
          <p class="item-text">English Exellence website</p>
          <a class="item-btn-grey" href="">
            Visit<svg class="btn-grey-icon" height="24" width="24">
              <use href="/img/icon.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button class="load-more" type="button"><a>Load more</a></button>
  </div>
</section>
