<section id="reviews">
  <div class="container">
    <h1 class="title">reviews</h1>
    <p class="error-text">Oops...Something went wrong</p>
    <div class="swiper">
      <ul class="review-list swiper-wrapper"></ul>
    </div>
    <div class="nav-buttons">
      <button class="swiper-button swiper-button-prev" type="button">
        <svg class="slider-icon" width="24" height="24">
          <use href="/public/icon.svg#icon-arrow-narrow-right" />
        </svg>
      </button>
      <button class="swiper-button swiper-button-next" type="button">
        <svg class="slider-icon" width="24" height="24">
          <use href="/public/icon.svg#icon-arrow-narrow-left" />
        </svg>
      </button>
    </div>
  </div>
</section>
