<section id="work-together" class="work-together wrap">
  <!-- Загальний контейнер для організації вмісту розділу -->
  <div class="container">
    <!-- Контейнер для заголовка + контактів -->
    <div class="cont-wrap">
      <!-- Заголовок секції "let's -->
      <h2 class="title">let's <span>work together</span></h2>
      <p class="desc">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <!-- Список контактів -->
      <ul class="cont-list">
        <li class="item">
          <!-- Іконка телефону та лінк для дзвінка -->
          <svg class="icon" width="24" height="24">
            <use href="/public/icon.svg#icon-tel"></use>
          </svg>
          <a class="link" href="tel:+380904567890" aria-label="Phone">
            +38 090 456 78 90
          </a>
        </li>
        <li class="item">
          <!-- Іконка пошти та лінк для надсилання листа -->
          <svg class="icon" width="24" height="24">
            <use href="/public/icon.svg#icon-email"></use>
          </svg>
          <a
            class="link"
            href="mailto:lloydjefferson@gmail.com"
            aria-label="Email"
          >
            lloydjefferson@gmail.com
          </a>
        </li>
        <li class="item">
          <!-- Іконка локації та лінк на карту -->
          <svg class="icon" width="24" height="24">
            <use href="/public/icon.svg#icon-loc"></use>
          </svg>
          <a
            class="link"
            href="https://maps.app.goo.gl/Ct7PuVPrGhJZiskX6"
            aria-label="Address"
            target="_blank"
            rel="noopener noreferrer"
          >
            USA, New York
          </a>
        </li>
      </ul>
    </div>
    <!-- Форма для контакту, де можна залишити повідомлення -->
    <form id="cont-form">
      <!-- Поле для введення електронної пошти -->
      <label for="user-email" class="email-label">
        <input
          type="email"
          name="user-email"
          id="user-email"
          class="user-email"
          placeholder="Your email*"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          aria-label="Enter your email"
          required
        />
        <!-- Повідомлення про помилку, якщо введена електронна пошта некоректна -->
        <span class="error-message">Invalid email, try again</span>
        <!-- Іконка для валідації правильної пошти -->
        <svg class="icon-checkmark" width="16" height="16">
          <use href="/public/icon.svg#icon-checkmark"></use>
        </svg>
      </label>
      <!-- Текстове поле для повідомлення -->
      <textarea
        name="user-message"
        id="user-message"
        class="user-message"
        cols="30"
        rows="5"
        placeholder="Message"
        aria-label="Text me a message"
        required
      ></textarea>
      <!-- Кнопка для відправки форми -->
      <button type="submit" id="form-submit" aria-label="Submit">
        SEND MESSAGE
      </button>
    </form>
  </div>
</section>
