/* Базові стилі для елементів сторінки */

/* Плавний скролінг */
html {
  scroll-behavior: smooth;
}

/* Основні стилі для body */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--background-0); /* Використання змінної для фону */
  color: var(--color-text-primary); /* Текст за замовчуванням */
  transition: all 250ms ease-in-out; /* Плавні переходи */
}

/* Стилі для заголовків */
h1,
h2,
h3 {
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  transition: all 250ms ease-in-out;
}

/* Стилі для абзаців */
p {
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
  transition: all 250ms ease-in-out;
}

/* Стилі для посилань */
a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-text-primary);
  transition: all 250ms ease-in-out;
}

/* Списки */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 250ms ease-in-out;
}

/* Стилі для зображень */
img {
  display: block;
  max-width: 100%;
}

/* Для елементів, що мають бути приховані, але доступні для краулерів */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилі для заголовків секцій */
.title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Додаткове оформлення для span всередині заголовку */
.title > span {
  color: var(--color-text-secondary);
}

.wrap {
  padding-bottom: 80px;
}

/* Стилі для адаптивності */
@media (min-width: 768px) {
  .title {
    font-size: 108px;
    line-height: 1.148;
    letter-spacing: 0.02em;
  }

  .wrap {
    padding-bottom: 124px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    padding-bottom: 164px;
  }
}
