.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--background-1);
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}
.scroll-to-top .btn-grey-icon {
  transform: rotate(-45deg);
}
.scroll-to-top :hover {
  background-color: var(--background-6);
}
