.about-me-title {
  margin-bottom: 40px;
}

.about-me-photo {
  margin-bottom: 40px;
  border-radius: 16px;
}

.about-sub-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.about-paragraph-text {
  font-weight: 300;
  letter-spacing: 0.03em;
  color: var(--color-text-primary);
}

.about-first-paragraph {
  margin-bottom: 24px;
}

.about-me-item {
  margin-bottom: 40px;
}

.about-bullet-item {
  margin-bottom: 12px;
  position: relative;
  padding-left: 28px;
}
.education-list .about-bullet-item:last-child {
  margin-bottom: 0;
}
.role-list .about-bullet-item:last-child {
  margin-bottom: 0;
}
.about-bullet-item::before {
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background: var(--color-text-secondary);
  transform: rotate(-180deg);
  content: '';
  display: inline-block;
  left: 0;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}
/* Tablet styles */
@media screen and (min-width: 768px) {
  #about-me .container {
    position: relative;
  }

  #about-me .container::before {
    content: '';
    position: absolute;
    width: 336px;
    height: 252px;
    right: 25px;
    bottom: 175px;
    z-index: -1;
    display: inline-block;
    background-image: url('../../img/about-me-img/about-bg-tab-1x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    #about-me .container::before {
      background-image: url('../../img/about-me-img/about-bg-tab-2x.png');
    }
  }

  .about-me-title {
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .about-me-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .picture-bio-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 60px;
    width: 100%;
    column-gap: 32px;
  }
  .education-role-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 32px;
    width: 100%;
  }
  .education-container,
  .role-container {
    display: flex;
    flex-direction: column;
  }
  .about-me-item {
    min-width: 336px;
  }
  .about-sub-header {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }
  .about-me-photo {
    flex-shrink: 0;
    margin-bottom: 0;
    margin-top: 370px;
    min-width: 336px;
    height: 392px;
  }
  .about-sub-header {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }
  .about-me-item {
    margin-bottom: 0;
  }
  .about-bullet-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  #about-me .container::before {
    width: 384px;
    height: 288px;
    right: 25px;
    bottom: 250px;
  }
  .picture-bio-container,
  .education-role-container {
    padding-left: 220px;
  }

  .picture-bio-container {
    margin-bottom: 80px;
  }
  .picture-bio-container {
    column-gap: 132px;
    margin-bottom: 80px;
  }
  .about-me-photo {
    min-width: 384px;
    margin-top: 295px;
    height: 448px;
  }
  .bio-container {
    max-width: 488px;
  }
  .education-role-container {
    column-gap: 132px;
  }
  .education-container,
  .role-container {
    max-width: 384px;
  }
}
