#faq .container {
  position: relative;
}
#faq .ac .ac-trigger::after {
  content: '';
}
#faq button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 28px 24px 24px;
  background-color: var(--background-0);
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-primary);

  border-bottom: 1px solid rgb(204, 204, 204, 0.4);
  transition: all 250ms ease-in-out;
}
#faq .ac {
  border: none !important;
  background-color: transparent;
}
#faq .accordion-item.is-active {
  outline: none;
  background-color: var(--background-6);
  border-radius: 16px;
}
#faq .icon-drop-down {
  fill: var(--color-text-primary);
  transform: rotate(180deg);
  width: 45px;
  height: 45px;
  transform-origin: center;
  transition: transform 250ms ease-in-out;
}
#faq .accordion-item {
  border: none;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #e4e5e6;
}
#faq .accordion-item.is-active .icon-drop-down {
  transform: rotate(0deg);
}
#faq .accordion-item.is-active .ac-trigger {
  border-bottom: none;
  background-color: var(--background-6);
  border-radius: 16px 16px 0 0;
}
#faq .ac .ac-trigger:is(:hover, :focus) {
  color: var(--color-text-primary);
}
#faq .ac {
  margin-top: 0;
}
.ac-trigger:focus {
  outline: none;
}
.title.question {
  min-width: 320px;
  margin-bottom: 40px;
}
.ac-list {
  display: flex;
  flex-direction: column;
}
#faq ul {
  background-color: var(--background-0);
}
.ac.ac-trigger {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.ac-trigger span {
  max-width: 224px;
  display: inline-block;
  vertical-align: top;
}
.icon-drop-down {
  fill: none;
  flex-shrink: 0;
  display: inline-block;
  border-radius: 8px;
  padding: 8px;
  width: 24px;
  height: 24px;
  vertical-align: top;
  transition: transform 250ms ease-in-out;
}

.accordion-answer {
  padding: 0 24px 28px;
  min-width: 272px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

@media (min-width: 768px) {
  .title.question {
    margin-bottom: 60px;
  }

  .ac-trigger span {
    min-width: 600px;
    margin-right: 24px;
  }
  .accordion-answer {
    min-width: 656px;
  }
}
@media screen and (min-width: 1280px) {
  #faq .container {
    display: flex;
    justify-content: space-between;
    height: 1020px;
  }
  .ac-list {
    max-width: 592px;
    display: flex;
    justify-content: end;
  }

  .title.question {
    max-width: 520px;
    margin: 0;
  }
  .ac-trigger button {
    max-width: 544px;
  }
  .ac-trigger span {
    min-width: 488px !important;
  }
  .accordion-answer {
    min-width: 544px;
  }
  .faq-image {
    background-image: url('../../img/faq-decor-bg-@1x.png');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 526px;
    height: 408px;
    top: 610px;

    z-index: -1;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ppx) {
    .faq-image {
      background-image: url(../../img/faq-decor-bg-@2x.png);
    }
  }
}
