.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
  width: 28px;
  height: 18px;
  padding: 0;
}

.burger-line {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: var(--color-text-primary);
  transition: all 0.3s ease 0s;
}
.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--color-text-primary);
  transition: all 0.3s ease 0s;
}

.burger:is(:hover, :focus) .burger-line,
.burger:is(:hover, :focus)::before,
.burger:is(:hover, :focus)::after {
  background-color: var(--color-text-secondary);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.is-active .burger-line {
  transform: scale(0);
}

.burger.is-active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.is-active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.header .bar {
  display: none;
}

@media (min-width: 768px) {
  .header button {
    display: none;
  }
  .header .bar {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header .nav-list {
    display: flex;
    gap: 40px;
  }

  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header .title {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .header .nav-list a {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;
    transition: all 250ms ease-in-out;
  }

  .header .nav-list a:is(:hover, :focus) {
    color: var(--color-text-secondary);
  }
}
