.hero-top {
  padding: 112px 0 72px 0;
  background-image: url(../../img/hero/hero-background-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-top {
    background-image: url(../../img/hero/hero-background-mobile@2x.png);
  }
}

.hero-title {
  font-family: 'Impact';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.hero-title-img {
  display: none;
}

.hero-span {
  color: var(--color-text-secondary);
  transition: all 250ms ease-in-out;
}

.hero-btn {
  position: relative;
  width: 100%;
  height: 92px;
  border: none;
  border-radius: 16px;
  background-color: var(--background-2);
  cursor: pointer;
  margin-bottom: 40px;
  transition: background-color 250ms ease-in-out;
}

.hero-btn:hover {
  background-color: var(--color-text-secondary);
}

.hero-btn-text {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-btn-icon {
  fill: var(--background-3);
  margin-right: 12px;
  transition: fill 250ms ease-in-out;
}

.hero-btn:hover .hero-btn-icon {
  fill: var(--color-text-primary);
}

.hero-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-bottom {
  padding: 32px 0;
  background-color: var(--background-1);
  transition: all 250ms ease-in-out;
}

.hero-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.hero-social-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  transition: color 250ms ease-in-out;
}

.hero-social-link:hover {
  color: var(--color-text-secondary);
}

@media (max-width: 768px) {
  .hero-btn {
    width: 165px;
    left: 140px;
    transition: all 250ms ease-in-out;
  }

  .hero-btn-container:hover .hero-btn {
    width: 280px;
    left: 0;
  }

  .hero-btn-container:hover .hero-btn-text {
    right: 30px;
  }

  .hero-btn-text {
    width: 230px;
    position: absolute;
    right: 75px;
    transition: all 250ms ease-in-out;
  }
}

@media (max-width: 355px) {
  .hero-title {
    font-size: 57px;
  }

  .hero-btn {
    width: 165px;
    left: 100px;
  }

  .hero-btn-container:hover .hero-btn {
    width: 250px;
    left: 0;
  }

  .hero-btn-container:hover .hero-btn-text {
    right: 10px;
  }

  .hero-btn-text {
    width: 230px;
    position: absolute;
    right: 35px;
    transition: all 250ms ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .hero-top {
    padding: 88px 0 80px 0;
    background-image: url(../../img/hero/hero-background-tablet.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-top {
      background-image: url(../../img/hero/hero-background-tablet@2x.png);
    }
  }

  .hero-title {
    font-size: 136px;
    line-height: 115%;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }
  .hero-btn-container {
    text-align: end;
    width: 416px;
  }

  .hero-btn {
    display: inline-flex;
    width: 281px;
  }

  .hero-btn-text {
    position: absolute;
    top: 50%;
    left: -151px;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 160%;
    transition: all 250ms ease-in-out;
  }

  .hero-btn:hover .hero-btn-text {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-info {
    font-size: 20px;
    line-height: 160%;
  }

  .hero-bottom {
    padding: 40px 0;
  }

  .hero-social-list {
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-top {
    padding: 184px 0 132px 0;
    background-image: url(../../img/hero/hero-background-desktop.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-top {
      background-image: url(../../img/hero/hero-background-desktop@2x.png);
    }
  }

  .hero-title {
    margin-bottom: 80px;
  }

  .hero-title-img {
    display: inline;
    border-radius: 16px;
  }

  .hero-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 136px;
  }

  .hero-info {
    width: 592px;
  }
}
