.centered {
  text-align: center;
  margin-bottom: 40px;
}
#projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-txt-btn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 16px;
}
#projects .item:not(:last-child) {
  margin: 0 auto 40px;
}

.item-subtext {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}
.item-text {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.5px;

  text-transform: uppercase;
}
.item-btn-grey {
  background-color: var(--background-1);
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  gap: 12px;
  cursor: pointer;
  max-width: 125px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-btn-grey:hover {
  background-color: var(--background-6);
}
.btn-grey-icon {
  fill: #00b068;
}
.load-more {
  margin-top: 40px;
  padding: 12px 24px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  width: 180px;
  color: var(--color-text-primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  color: var(--color-text-secondary);
}
.load-more::after {
  content: '';
  position: absolute;
  background: var(--color-text-secondary);
  border-radius: 2px;
  left: 50%;
  bottom: 10px;
  width: 125px;
  transform: translate(-50%, -50%);
  height: 2px;
}

.project-list img {
  margin-bottom: 12px;
  border-radius: 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .project-list img {
    margin-bottom: 16px;
    border-radius: 24px;
  }

  .centered {
    margin-bottom: 60px;
  }
  #projects .item {
    max-width: 768px;
    width: 704px;
  }
  #projects .item:not(:last-child) {
    margin: 0 auto 60px;
  }

  .container-txt-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }
  .item-subtext {
    margin-bottom: 20px;
  }
  .item-text {
    font-size: 36px;
  }
  .load-more {
    margin-top: 60px;
    font-size: 20px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1280px) {
  .centered {
    margin-bottom: 80px;
  }
  #projects .item {
    width: 1008px;
    max-width: 1280px;
  }
  #projects .item:not(:last-child) {
    margin: 0 auto 80px;
  }
  .load-more {
    margin-top: 80px;
  }
}
