.tech-skills {
  min-height: 324px;
  position: relative; /* Для подальшого позиціонування елементів */
  /* background-color: #f8f8f8; Світлий фон для виділення секції */
  overflow: hidden; /* Сховаємо будь-які вихідні елементи */
}

.marquee {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; /* Забезпечує приховування тексту поза межами блоку */
  background-color: #bcdfd1;
  padding: 32px 0px;
  width: 100%;
  height: 104px;
  z-index: 2; /* Робимо його зверху */
}

.marquee__inner {
  display: flex; /* Елементи вирівняні в ряд */
  animation: marquee-animation 15s linear infinite; /* Анімація руху */
}

.marquee__inner::before {
  content: ''; /* Імітація повторення вмісту */
  display: block;
}

.marquee__line {
  display: flex;
  gap: 16px; /* Відступ між назвами технологій */
  position: relative; /* Для роботи з псевдоелементом */
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #292929;
  text-transform: uppercase;
  white-space: nowrap; /* Забороняє перенос тексту */
}

.marquee__line::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #00b068; /* Колір розділювача */
  margin-right: 16px; /* Відстань між останнім елементом і псевдоелементом */
}

.marquee__line__tilted {
  display: flex;
  gap: 16px; /* Відступ між назвами технологій */
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #00b068;
  text-transform: uppercase;
  white-space: nowrap; /* Забороняє перенос тексту */
  position: relative; /* Для роботи з псевдоелементом */
}

.marquee__line__tilted::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #292929; /* Колір розділювача */
  margin-right: 16px; /* Відстань між останнім елементом і псевдоелементом */
}

@keyframes marquee-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* Зсуваємо рівно на половину ширини вмісту */
  }
}

/* Стиль для розділювача */
.separator {
  /* display: inline-block; */
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #00b068; /* Основний колір розділювача */
  vertical-align: middle; /* Вирівнювання по центру тексту */
}

/* Для нахиленого рядка: змінюємо колір */
.marquee--tilted .separator {
  background-color: #292929; /* Інший колір для розділювачів у нахиленому рядку */
}

/* Нахилений рядок */
.marquee--tilted {
  position: absolute;
  top: 110px; /* Зміщення вниз */
  left: 0;
  width: 100%;
  z-index: 1;
  transform: rotate(2deg);
  background-color: #e8e8e8;
  padding: 32px 0;
}

@media (min-width: 768px) {
  .tech-skills {
    min-height: 404px;
  }

  .marquee {
    padding: 40px 0px;
    width: 100%;
    height: 128px;
  }

  .marquee--tilted {
    top: 132px;
  }

  .marquee__line {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    gap: 20px; /* Відступ між назвами технологій */
  }

  .marquee__line::after {
    margin-right: 20px; /* Відстань між останнім елементом і псевдоелементом */
  }

  .marquee__line__tilted {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    gap: 20px; /* Відступ між назвами технологій */
  }

  .marquee__line__tilted::after {
    margin-right: 20px; /* Відстань між останнім елементом і псевдоелементом */
  }
}

@media screen and (min-width: 1280px) {
  .tech-skills {
    min-height: 444px;
  }

  .marquee--tilted {
    top: 128px;
  }
}
